.buttonPrimary,
.buttonSecondary {
  background-color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.8rem 2rem;
  width: 15%;
  border-radius: 2rem;
  cursor: pointer;
  border: 0;
}

.buttonPrimary {
  background-color: var(--rosy);
  color: #fff;
}

.buttonSecondary {
  background-color: var(--sunny);
  color: #000;
}

.buttonPrimary:hover,
.buttonPrimary:active,
.buttonPrimary:focus {
  background-color: var(--petals);
}

.buttonSecondary:hover,
.buttonSecondary:active,
.buttonSecondary:focus {
  background-color: var(--melon);
}

.buttonArea .buttonSecondary:nth-child(2) {
  margin: 0 1rem;
}

@media screen and (max-width: 1024px) {
  .buttonPrimary,
  .buttonSecondary {
    width: 25%;
  }

  .buttonArea {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttonArea .buttonSecondary:nth-child(2) {
    margin: 1rem auto;
  }
}

@media screen and (max-width: 800px) {
  .buttonPrimary,
  .buttonSecondary {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .buttonPrimary,
  .buttonSecondary {
    width: 100%;
    font-size: 1rem;
  }
}