.footer {
  height: 4rem;
  background-color: var(--light-gray);
  padding: 1rem;
  box-sizing: border-box;
  margin: 2rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  color: var(--ocean);
  cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
  color: var(--blue-sky);
}

.property {
  font-size: 0.8rem;
  color: var(--rosy);
}
