:root {
  --ocean: #5aa9e6;
  --storm: #25618d;
  --blue-sky: #7fc8f8;
  --light-gray: #f9f9f9;
  --sunny: #ffe45e;
  --melon: #f8d811;
  --rosy: #ff6392;
  --petals: #fc2563;
}

*  {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}